.container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid black;
  position: relative;
}
.child1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    red,
    yellow,
    green,
    purple,
    white,
    blue,
    orange
  );
  animation-name: rotation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.child2 {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  overflow: hidden;
}

@keyframes rotation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
