
/* Box styles for Media Queries Task */
.box {
  width: 200px;
  height: 200px;
  background-color: tomato; /* Default color (Desktop) */
  margin: 20px auto;
  /* transition: background-color 0.3s ease; */
}

/* Tablet Breakpoint */
@media screen and (max-width: 1024px) {
  .box {
    background-color: lightseagreen;
  }
}

/* Mobile Breakpoint */
@media screen and (max-width: 600px) {
  .box {
    background-color: gold;
  }
}

