.container {
  width: 100px;
  height: 100px;
  background-color: red;
  transition-property: all;
  transition-duration: 3s;
  transition-timing-function: cubic-bezier(0, 1.09, 1, 0.75);
  transform-origin: center;
}
.container:hover {
  /* transform: skew(-45deg);
  transform: rotate(-45deg);
  transform: rotateX(-45deg);
  transform: rotateY(-45deg);
  transform: rotateZ(-45deg);
  transform: scale(-45deg);
  transform: scaleX(-45deg);
  transform: scaleY(-45deg);
  transform: scaleZ(-45deg);
  transform: translate(-45deg);
  transform: translateX(-45deg);
  transform: translateY(-45deg);
  transform: translateZ(-45deg);
  transform: skew(-45deg);
  transform: skewX(-45deg);
  transform: skewY(-45deg);
  transform: skewZ(-45deg); */
}
