* {
  margin: 0;
  padding: 0;
}

.parent {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 0, 0, 0.35);
  display: flex;
  justify-content: flex-start;
  /* justify-content: flex-end; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  /* justify-content: space-evenly; */
  /* align-items: flex-start; */
  /* align-items: flex-end; */
  /* align-items: baseline; */
  /* align-items: stretch; */
  align-items: center;
  /* flex-direction: column; */
  /* /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* flex-direction: row-reverse; */
  gap: 20px;
  /* column-gap: 20px; */
  /* row-gap: 20px; */
  /* padding-left: 20px; */
  /* flex-wrap: wrap; */
  /* flex-wrap: no-wrap; */
  /* flex-wrap: wrap-reverse; */
}

.child1 {
  width: 100px;
  height: 100px;
  background-color: rgba(0, 0, 255, 1);
  flex-shrink: 1;
}
.child2 {
  width: 100px;
  height: 100px;
  background-color: red;
  flex-shrink: 1;
  flex-grow: 1;
}
.child3 {
  width: 100px;
  height: 100px;
  background-color: green;
  flex-shrink: 2;
  flex-grow: 1.5;
}
.child4 {
  width: 100px;
  height: 100px;
  background-color: black;
  flex-grow: 3;
}

nav {
  height: 50px;
  background-color: rgba(1, 1, 3, 0.35);
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.image {
  width: 75px;
  height: 30px;
  background-color: navy;
}

.nav-links {
  width: 300px;
  height: 35px;
  background-color: orange;
}

.search {
  width: 100px;
  height: 40px;
  font-size: 28px;
  background-color: green;
}
