.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}

.item1 {
  background-color: red;
  height: 200px;
  grid-column: 1/3;
}
.item2 {
  background-color: blue;
  /* height: 200px; */
  grid-row: 1/3;
  grid-column: 3/4;
}
.item3 {
  background-color: green;
  /* height: 200px; */
  grid-row: 2/4;
}
.item4 {
  background-color: yellow;
  height: 200px;
}
.item5 {
  background-color: purple;
  height: 200px;
  grid-column: 2/4;
}
