/* Positions */
/* .box1 {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  position: fixed;
  bottom: 20px;
  right: 20px;
} */
body {
  overflow-x: hidden;
}
.box1 {
  width: 35px;
  height: 35px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  position: sticky;
  /* transform-origin: top left; */
  bottom: 10px;
  top: 10px;
  z-index: 1000;
}

.box {
  display: block;
}

.parent {
  width: 75vw;
  height: 100vh;
  background-color: green;
}
.child {
  width: 50%;
  height: 50%;
  background-color: red;
  position: relative;
}
.child-child {
  width: 50px;
  height: 50px;
  background-color: blue;
  /* position: absolute; */
  /* bottom: 0; */
  /* left: 20px; */
}

.card {
  width: 100px;
  height: 100px;
  background-color: yellow;
}
.image {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.overlay:hover {
  background-color: rgba(255, 255, 255, 0);
}

.text-content {
  padding: 2px 6px;
  margin: 0px;
  font-size: 6px;
  border-radius: 3px 3px 3px 0px;
  color: white;
  background-color: red;
  position: relative;
  top: -5px;
  left: -5px;
}

.text {
  position: relative;
}
.text-content-2 {
  position: absolute;
  bottom: 1px;
  left: -5px;
  /* transform: rotate(180deg); */
  width: 5px;
  height: 5px;
  /* background-color: red; */
  border-color: red;
  border-style: solid;
  border-width: 1px 1px 0 0;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 5px solid red;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -5px;
  bottom: 0.5px;
  transform: rotate(90deg);
}

.container {
  width: 100px;
  height: 100px;
  position: fixed;
  border-radius: 50%;
  overflow: hidden;
  bottom: 20px;
  right: 20px;
}
.border {
  width: 100px;
  height: 100px;
  background: linear-gradient(to right, red, yellow, green, blue, purple);
  position: absolute;
  top: 0;
  left: 0;
  animation-name: border-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
img {
  position: relative;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  background: blue;
  filter: grayscale(100%);
  /* z-index: 1001; */
}
img:hover {
  filter: grayscale(0%);
}

@keyframes border-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.parent1 {
  width: 100vw;
  height: 200px;
  background-color: red;
  position: relative;
  display: flex;
}
.child1 {
  height: 100px;
  background-color: blue;
}
.child2 {
  width: 50%;
  height: 100px;
  background-color: green;
}
